{% include 'home.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <a href="{% url 'post-list' %}">back to feed</a>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <p><strong>{{post.author}}</strong> {{post.created_on}}</p>
      <p>{{post.body}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <br>
        <input type="submit" value="Submit" name="" id="">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
